.code-editor{
    width: 90%;
    margin: 0 auto;

    &__container{
        display:flex;
        flex-direction: row;
    }
}
.output{
    width: 100%;
    border: 1px solid black;
}
.run-button{
    display: flex;
    margin: 1rem auto;
    background-color: #c6c4c4;
}