.form {
    display: flex;
    flex-direction: column;
    border: 2px solid;
    padding: 3rem;
    width: 50%;
    margin: 0 auto;
    text-align: left;
}

.submit-success {
    color: green;
    text-align: center;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
